{% assign title_separator = site.title_separator | default: '-' | replace: '|', '&#124;' %}

{% if paginator %}
  {% assign title = site.title %}
{% else %}
  {% assign title = page.title | append: " " | append: title_separator | append: " " | append: site.title %}
{% endif %}
{% assign title = title | markdownify | strip_html | strip_newlines | escape_once %}

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  {% include head__seo.html %}

  <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}" />
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
</head>