{% assign date_format = site.date_format | default: "%B %-d, %Y" %}

<section class="postlist">
  {% for post in paginator.posts %}
    <article class="post">
      <a href="{{ post.url }}">
        {% if post.cover %}
          <div class="post-cover">
            <img src="{{ post.cover }}">
          </div>
        {% endif %}
        <div class="post-details">
          <ul class="post-tags">
            {% if post.tags %}
              {% for tag in post.tags %}
                <li><h4 class="post-tag">{{ tag }}</h4></li>
              {% endfor %}
            {% endif %}
          </ul>
          <h1 class="post-title">{{ post.title }}</h1>
          <h2 class="post-description">{{ post.content | strip_html | truncatewords: 32, "" }}</h2>
          <div class="post-time">
            <i class="ri-calendar-line"></i>
            <time>{{ post.date | date: date_format }}</time>
          </div>
        </div>
      </a>
    </article>
  {% endfor %}
</section>