<header class="profile">
  <figure class="profile__avatar">
    {% if site.profile.avatar %}
      <a href="/"><img src="{{ site.profile.avatar }}" loading="lazy" {% if site.title %}alt="{{ site.title }}"{% endif %} /></a>
    {% endif %}
  </figure>
  <div>
    <div>
      <a href="/">
        <h1 class="profile__name">{{ site.profile.name }}</h1>
        <h2 class="profile__description">{{ site.profile.description }}</h2>
      </a>
    </div>
    <ul class="profile__socials">
      {% if site.profile.socials.github %}
        <li><a href="{{ site.profile.socials.github }}" target="_blank"><i class="ri-github-fill"></i></a></li>
      {% endif %}
    </ul>
  </div>
</header>