<header class="siteinfo">
  <figure class="siteinfo__avatar">
    {% if site.siteinfo.avatar %}
      <a href="/"><img src="{{ site.siteinfo.avatar }}" loading="lazy" {% if site.title %}alt="{{ site.title }}"{% endif %} /></a>
    {% endif %}
  </figure>
  <div>
    <div>
      <a href="/">
        <h1 class="siteinfo__name">{{ site.siteinfo.name }}</h1>
        <h2 class="siteinfo__description">{{ site.siteinfo.description }}</h2>
      </a>
    </div>
    <ul class="siteinfo__socials">
      {% if site.siteinfo.socials.github %}
        <li><a href="{{ site.siteinfo.socials.github }}" target="_blank"><i class="ri-github-fill"></i></a></li>
      {% endif %}
    </ul>
  </div>
</header>