$body_text_color: #6e7173;
$body_accent_text_color: #3d4144;
$body_background: #f5f5fa;

$card_text_color: rgba(255, 255, 255, 0.9);
// $card_accent_text_color:
$card_background: #424242;

$desktop_breakpoint: 1020px;
$tablet_breakpoint: 768px;
$mobile_breakpoint: 468px;
