@import '_variables';

@import 'vendors/mixins';
@import 'vendors/syntax';
@import 'vendors/notices';
@import 'vendors/markdown-body';
@import 'vendors/forms';
@import 'vendors/buttons';

@import 'components/profile';
@import 'components/tagnav';
@import 'components/postlist';
@import 'components/pager';
@import 'components/footer';
@import 'components/comments';

@import 'pages/deafult';
@import 'pages/post';

@import 'custom';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

html {
  font-size: 20px;

  @media screen and (max-width: $tablet-breakpoint) {
    font-size: 18px;
  }
}

body {
  font-family: $font-main;
  min-width: 360px;
  background-color: $color-body-background;
}

.main-container {
  padding: 32px;

  @media screen and (max-width: $tablet-breakpoint) {
    padding: 24px;
  }

  @media screen and (max-width: $mobile-breakpoint) {
    padding: 16px;
  }
}
