@import '_variables';
@import '_utility';

@import 'components/siteinfo';
@import 'components/tagnav';

@import 'pages/deafult';
@import 'pages/post';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

html {
  font-size: 20px;

  @media screen and (max-width: $tablet_breakpoint) {
    font-size: 18px;
  }
}

body {
  min-height: 150vh;
  min-width: 360px;
  background-color: $body_background;
}

.main-container {
  padding: 32px;

  @media screen and (max-width: $tablet_breakpoint) {
    padding: 24px;
  }
}
