/* Typography ========================================================================== */
/* Colors ========================================================================== */
/* Github-markdown-css colors */
/* Notices and buttons */
/* Form */
/* Code */
/* Codeblock syntax highlight */
/* YIQ color contrast */
/* Box shadows ========================================================================== */
/* Breakpoints ========================================================================== */
/* Compass YIQ Color Contrast https://github.com/easy-designs/yiq-color-contrast ========================================================================== */
/* ========================================================================== Syntax highlighting ========================================================================== */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css");
.markdown-body div.highlighter-rouge, .markdown-body figure.highlight { position: relative; margin-bottom: 1rem; background: #263238; color: #eeffff; font-family: Monaco, Consolas, "Lucida Console", monospace; font-size: 0.82em; line-height: 1.8; border-radius: 4px; }

.markdown-body div.highlighter-rouge > pre, .markdown-body div.highlighter-rouge pre.highlight, .markdown-body figure.highlight > pre, .markdown-body figure.highlight pre.highlight { margin: 0; padding: 1em; }

.markdown-body .highlight table { margin-bottom: 0; font-size: 1em; border: none; }

.markdown-body .highlight table th { padding: 0; border: none; }

.markdown-body .highlight table td { padding: 0; width: calc(100% - 1em); border: none; /* line numbers*/ /* code */ }

.markdown-body .highlight table td.gutter, .markdown-body .highlight table td.rouge-gutter { padding-right: 1em; width: 1em; color: #b2ccd6; border-right: 1px solid #b2ccd6; text-align: right; }

.markdown-body .highlight table td.code, .markdown-body .highlight table td.rouge-code { padding-left: 1em; }

.markdown-body .highlight table tr { border: none; background: inherit; }

.markdown-body .highlight table tr:nth-child(2n) { background-color: inherit; }

.markdown-body .highlight table pre { margin: 0; }

.markdown-body .highlight code { color: inherit !important; }

.markdown-body .highlight pre { width: 100%; }

.markdown-body .highlight .hll { background-color: #eeffff; }

.markdown-body .highlight .c { /* Comment */ color: #b2ccd6; }

.markdown-body .highlight .err { /* Error */ color: #f07178; }

.markdown-body .highlight .k { /* Keyword */ color: #c792ea; }

.markdown-body .highlight .l { /* Literal */ color: #f78c6c; }

.markdown-body .highlight .n { /* Name */ color: #eeffff; }

.markdown-body .highlight .o { /* Operator */ color: #89ddff; }

.markdown-body .highlight .p { /* Punctuation */ color: #eeffff; }

.markdown-body .highlight .cm { /* Comment.Multiline */ color: #b2ccd6; }

.markdown-body .highlight .cp { /* Comment.Preproc */ color: #b2ccd6; }

.markdown-body .highlight .c1 { /* Comment.Single */ color: #b2ccd6; }

.markdown-body .highlight .cs { /* Comment.Special */ color: #b2ccd6; }

.markdown-body .highlight .gd { /* Generic.Deleted */ color: #f07178; }

.markdown-body .highlight .ge { /* Generic.Emph */ font-style: italic; }

.markdown-body .highlight .gh { /* Generic.Heading */ color: #eeffff; font-weight: bold; }

.markdown-body .highlight .gi { /* Generic.Inserted */ color: #c3e88d; }

.markdown-body .highlight .gp { /* Generic.Prompt */ color: #b2ccd6; font-weight: bold; }

.markdown-body .highlight .gs { /* Generic.Strong */ font-weight: bold; }

.markdown-body .highlight .gu { /* Generic.Subheading */ color: #89ddff; font-weight: bold; }

.markdown-body .highlight .kc { /* Keyword.Constant */ color: #c792ea; }

.markdown-body .highlight .kd { /* Keyword.Declaration */ color: #c792ea; }

.markdown-body .highlight .kn { /* Keyword.Namespace */ color: #89ddff; }

.markdown-body .highlight .kp { /* Keyword.Pseudo */ color: #c792ea; }

.markdown-body .highlight .kr { /* Keyword.Reserved */ color: #c792ea; }

.markdown-body .highlight .kt { /* Keyword.Type */ color: #ffcb6b; }

.markdown-body .highlight .ld { /* Literal.Date */ color: #c3e88d; }

.markdown-body .highlight .m { /* Literal.Number */ color: #f78c6c; }

.markdown-body .highlight .s { /* Literal.String */ color: #c3e88d; }

.markdown-body .highlight .na { /* Name.Attribute */ color: #82aaff; }

.markdown-body .highlight .nb { /* Name.Builtin */ color: #eeffff; }

.markdown-body .highlight .nc { /* Name.Class */ color: #ffcb6b; }

.markdown-body .highlight .no { /* Name.Constant */ color: #f07178; }

.markdown-body .highlight .nd { /* Name.Decorator */ color: #89ddff; }

.markdown-body .highlight .ni { /* Name.Entity */ color: #eeffff; }

.markdown-body .highlight .ne { /* Name.Exception */ color: #f07178; }

.markdown-body .highlight .nf { /* Name.Function */ color: #82aaff; }

.markdown-body .highlight .nl { /* Name.Label */ color: #eeffff; }

.markdown-body .highlight .nn { /* Name.Namespace */ color: #ffcb6b; }

.markdown-body .highlight .nx { /* Name.Other */ color: #82aaff; }

.markdown-body .highlight .py { /* Name.Property */ color: #eeffff; }

.markdown-body .highlight .nt { /* Name.Tag */ color: #89ddff; }

.markdown-body .highlight .nv { /* Name.Variable */ color: #f07178; }

.markdown-body .highlight .ow { /* Operator.Word */ color: #89ddff; }

.markdown-body .highlight .w { /* Text.Whitespace */ color: #eeffff; }

.markdown-body .highlight .mf { /* Literal.Number.Float */ color: #f78c6c; }

.markdown-body .highlight .mh { /* Literal.Number.Hex */ color: #f78c6c; }

.markdown-body .highlight .mi { /* Literal.Number.Integer */ color: #f78c6c; }

.markdown-body .highlight .mo { /* Literal.Number.Oct */ color: #f78c6c; }

.markdown-body .highlight .sb { /* Literal.String.Backtick */ color: #c3e88d; }

.markdown-body .highlight .sc { /* Literal.String.Char */ color: #eeffff; }

.markdown-body .highlight .sd { /* Literal.String.Doc */ color: #b2ccd6; }

.markdown-body .highlight .s2 { /* Literal.String.Double */ color: #c3e88d; }

.markdown-body .highlight .se { /* Literal.String.Escape */ color: #f78c6c; }

.markdown-body .highlight .sh { /* Literal.String.Heredoc */ color: #c3e88d; }

.markdown-body .highlight .si { /* Literal.String.Interpol */ color: #f78c6c; }

.markdown-body .highlight .sx { /* Literal.String.Other */ color: #c3e88d; }

.markdown-body .highlight .sr { /* Literal.String.Regex */ color: #c3e88d; }

.markdown-body .highlight .s1 { /* Literal.String.Single */ color: #c3e88d; }

.markdown-body .highlight .ss { /* Literal.String.Symbol */ color: #c3e88d; }

.markdown-body .highlight .bp { /* Name.Builtin.Pseudo */ color: #eeffff; }

.markdown-body .highlight .vc { /* Name.Variable.Class */ color: #f07178; }

.markdown-body .highlight .vg { /* Name.Variable.Global */ color: #f07178; }

.markdown-body .highlight .vi { /* Name.Variable.Instance */ color: #f07178; }

.markdown-body .highlight .il { /* Literal.Number.Integer.Long */ color: #f78c6c; }

.markdown-body .gist tr { border: none; }

.markdown-body .gist th, .markdown-body .gist td { border: none; }

.markdown-body { /* Default notice */ /* Primary notice */ /* Info notice */ /* Warning notice */ /* Success notice */ /* Danger notice */ }

.markdown-body .notice { margin: 1rem 0 !important; padding: 1em; color: #24292f; font-size: 0.85em !important; text-indent: initial; /* override*/ background-color: #f2f3f3; border-radius: 4px; box-shadow: 0 1px 1px rgba(189, 193, 196, 0.25); }

.markdown-body .notice h4 { margin-top: 0 !important; /* override*/ margin-bottom: 0.75em; line-height: inherit; }

.page__content .markdown-body .notice h4 { /* using at-root to override .page-content h4 font size*/ margin-bottom: 0; font-size: 1em; }

.markdown-body .notice p:last-child { margin-bottom: 0 !important; /* override*/ }

.markdown-body .notice h4 + p { /* remove space above paragraphs that appear directly after notice headline*/ margin-top: 0; padding-top: 0; }

.markdown-body .notice a { text-decoration: underline; transition: 0.2s; color: #aaaeb0; }

.markdown-body .notice a:hover { color: #5f6162; }

.markdown-body .notice code { color: inherit; background-color: #f8f9f9; }

.markdown-body .notice pre code { background-color: inherit; }

.markdown-body .notice ul:last-child { margin-bottom: 0; /* override*/ }

.markdown-body .notice--primary { margin: 1rem 0 !important; padding: 1em; color: #24292f; font-size: 0.85em !important; text-indent: initial; /* override*/ background-color: #e2e4e5; border-radius: 4px; box-shadow: 0 1px 1px rgba(111, 119, 125, 0.25); }

.markdown-body .notice--primary h4 { margin-top: 0 !important; /* override*/ margin-bottom: 0.75em; line-height: inherit; }

.page__content .markdown-body .notice--primary h4 { /* using at-root to override .page-content h4 font size*/ margin-bottom: 0; font-size: 1em; }

.markdown-body .notice--primary p:last-child { margin-bottom: 0 !important; /* override*/ }

.markdown-body .notice--primary h4 + p { /* remove space above paragraphs that appear directly after notice headline*/ margin-top: 0; padding-top: 0; }

.markdown-body .notice--primary a { text-decoration: underline; transition: 0.2s; color: #646b71; }

.markdown-body .notice--primary a:hover { color: #383c3f; }

.markdown-body .notice--primary code { color: inherit; background-color: #f1f1f2; }

.markdown-body .notice--primary pre code { background-color: inherit; }

.markdown-body .notice--primary ul:last-child { margin-bottom: 0; /* override*/ }

.markdown-body .notice--info { margin: 1rem 0 !important; padding: 1em; color: #24292f; font-size: 0.85em !important; text-indent: initial; /* override*/ background-color: #d8ebf1; border-radius: 4px; box-shadow: 0 1px 1px rgba(59, 156, 186, 0.25); }

.markdown-body .notice--info h4 { margin-top: 0 !important; /* override*/ margin-bottom: 0.75em; line-height: inherit; }

.page__content .markdown-body .notice--info h4 { /* using at-root to override .page-content h4 font size*/ margin-bottom: 0; font-size: 1em; }

.markdown-body .notice--info p:last-child { margin-bottom: 0 !important; /* override*/ }

.markdown-body .notice--info h4 + p { /* remove space above paragraphs that appear directly after notice headline*/ margin-top: 0; padding-top: 0; }

.markdown-body .notice--info a { text-decoration: underline; transition: 0.2s; color: #358ca7; }

.markdown-body .notice--info a:hover { color: #1e4e5d; }

.markdown-body .notice--info code { color: inherit; background-color: #ebf5f8; }

.markdown-body .notice--info pre code { background-color: inherit; }

.markdown-body .notice--info ul:last-child { margin-bottom: 0; /* override*/ }

.markdown-body .notice--warning { margin: 1rem 0 !important; padding: 1em; color: #24292f; font-size: 0.85em !important; text-indent: initial; /* override*/ background-color: #f7e5cd; border-radius: 4px; box-shadow: 0 1px 1px rgba(214, 127, 5, 0.25); }

.markdown-body .notice--warning h4 { margin-top: 0 !important; /* override*/ margin-bottom: 0.75em; line-height: inherit; }

.page__content .markdown-body .notice--warning h4 { /* using at-root to override .page-content h4 font size*/ margin-bottom: 0; font-size: 1em; }

.markdown-body .notice--warning p:last-child { margin-bottom: 0 !important; /* override*/ }

.markdown-body .notice--warning h4 + p { /* remove space above paragraphs that appear directly after notice headline*/ margin-top: 0; padding-top: 0; }

.markdown-body .notice--warning a { text-decoration: underline; transition: 0.2s; color: #c17205; }

.markdown-body .notice--warning a:hover { color: #6b4003; }

.markdown-body .notice--warning code { color: inherit; background-color: #fbf2e6; }

.markdown-body .notice--warning pre code { background-color: inherit; }

.markdown-body .notice--warning ul:last-child { margin-bottom: 0; /* override*/ }

.markdown-body .notice--success { margin: 1rem 0 !important; padding: 1em; color: #24292f; font-size: 0.85em !important; text-indent: initial; /* override*/ background-color: #d9edd9; border-radius: 4px; box-shadow: 0 1px 1px rgba(63, 166, 63, 0.25); }

.markdown-body .notice--success h4 { margin-top: 0 !important; /* override*/ margin-bottom: 0.75em; line-height: inherit; }

.page__content .markdown-body .notice--success h4 { /* using at-root to override .page-content h4 font size*/ margin-bottom: 0; font-size: 1em; }

.markdown-body .notice--success p:last-child { margin-bottom: 0 !important; /* override*/ }

.markdown-body .notice--success h4 + p { /* remove space above paragraphs that appear directly after notice headline*/ margin-top: 0; padding-top: 0; }

.markdown-body .notice--success a { text-decoration: underline; transition: 0.2s; color: #399539; }

.markdown-body .notice--success a:hover { color: #205320; }

.markdown-body .notice--success code { color: inherit; background-color: #ecf6ec; }

.markdown-body .notice--success pre code { background-color: inherit; }

.markdown-body .notice--success ul:last-child { margin-bottom: 0; /* override*/ }

.markdown-body .notice--danger { margin: 1rem 0 !important; padding: 1em; color: #24292f; font-size: 0.85em !important; text-indent: initial; /* override*/ background-color: #fcdfde; border-radius: 4px; box-shadow: 0 1px 1px rgba(238, 95, 91, 0.25); }

.markdown-body .notice--danger h4 { margin-top: 0 !important; /* override*/ margin-bottom: 0.75em; line-height: inherit; }

.page__content .markdown-body .notice--danger h4 { /* using at-root to override .page-content h4 font size*/ margin-bottom: 0; font-size: 1em; }

.markdown-body .notice--danger p:last-child { margin-bottom: 0 !important; /* override*/ }

.markdown-body .notice--danger h4 + p { /* remove space above paragraphs that appear directly after notice headline*/ margin-top: 0; padding-top: 0; }

.markdown-body .notice--danger a { text-decoration: underline; transition: 0.2s; color: #d65652; }

.markdown-body .notice--danger a:hover { color: #77302e; }

.markdown-body .notice--danger code { color: inherit; background-color: #fdefef; }

.markdown-body .notice--danger pre code { background-color: inherit; }

.markdown-body .notice--danger ul:last-child { margin-bottom: 0; /* override*/ }

.markdown-body { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; margin: 0; color: #24292f; background-color: #ffffff; font-size: 0.9rem; line-height: 1.5; word-wrap: break-word; }

.markdown-body .octicon { display: inline-block; fill: currentColor; vertical-align: text-bottom; }

.markdown-body h1:hover .anchor .octicon-link:before, .markdown-body h2:hover .anchor .octicon-link:before, .markdown-body h3:hover .anchor .octicon-link:before, .markdown-body h4:hover .anchor .octicon-link:before, .markdown-body h5:hover .anchor .octicon-link:before, .markdown-body h6:hover .anchor .octicon-link:before { width: 16px; height: 16px; content: ' '; display: inline-block; background-color: currentColor; -webkit-mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>"); mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>"); }

.markdown-body details, .markdown-body figcaption, .markdown-body figure { display: block; }

.markdown-body figure figcaption { margin-bottom: 1em; font-size: 0.85em; color: #6e7781; }

.markdown-body summary { display: list-item; }

.markdown-body [hidden] { display: none !important; }

.markdown-body a { background-color: transparent; color: #0969da; text-decoration: none; }

.markdown-body a:active, .markdown-body a:hover { outline-width: 0; }

.markdown-body abbr[title] { border-bottom: none; text-decoration: underline dotted; }

.markdown-body b, .markdown-body strong { font-weight: 600; }

.markdown-body dfn { font-style: italic; }

.markdown-body mark { background-color: #fff8c5; color: #24292f; }

.markdown-body blockquote + .small { margin-top: -0.6em; padding-left: 1.2rem; }

.markdown-body small, .markdown-body .small { font-size: 0.85em; }

.markdown-body sub, .markdown-body sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

.markdown-body sub { bottom: -0.25em; }

.markdown-body sup { top: -0.5em; }

.markdown-body img { border-style: none; max-width: 100%; box-sizing: content-box; background-color: #ffffff; }

.markdown-body code, .markdown-body kbd, .markdown-body pre, .markdown-body samp { font-family: monospace, monospace; font-size: 1em; }

.markdown-body hr { box-sizing: content-box; overflow: hidden; background: transparent; height: 1px; padding: 0; margin: 1rem 0; background-color: #d8dee4; border: 0; }

.markdown-body input { font: inherit; margin: 0; overflow: visible; font-family: inherit; font-size: inherit; line-height: inherit; }

.markdown-body [type='button'], .markdown-body [type='reset'], .markdown-body [type='submit'] { -webkit-appearance: button; }

.markdown-body [type='button']::-moz-focus-inner, .markdown-body [type='reset']::-moz-focus-inner, .markdown-body [type='submit']::-moz-focus-inner { border-style: none; padding: 0; }

.markdown-body [type='button']:-moz-focusring, .markdown-body [type='reset']:-moz-focusring, .markdown-body [type='submit']:-moz-focusring { outline: 1px dotted ButtonText; }

.markdown-body [type='checkbox'], .markdown-body [type='radio'] { box-sizing: border-box; padding: 0; }

.markdown-body [type='number']::-webkit-inner-spin-button, .markdown-body [type='number']::-webkit-outer-spin-button { height: auto; }

.markdown-body [type='search'] { -webkit-appearance: textfield; outline-offset: -2px; }

.markdown-body [type='search']::-webkit-search-cancel-button, .markdown-body [type='search']::-webkit-search-decoration { -webkit-appearance: none; }

.markdown-body ::-webkit-input-placeholder { color: inherit; opacity: 0.54; }

.markdown-body ::-webkit-file-upload-button { -webkit-appearance: button; font: inherit; }

.markdown-body a:hover { text-decoration: underline; }

.markdown-body hr::before { display: table; content: ''; }

.markdown-body hr::after { display: table; clear: both; content: ''; }

.markdown-body table { border-spacing: 0; border-collapse: collapse; display: block; width: max-content; max-width: 100%; overflow: auto; }

.markdown-body td, .markdown-body th { padding: 0; }

.markdown-body details summary { cursor: pointer; }

.markdown-body details:not([open]) > *:not(summary) { display: none !important; }

.markdown-body kbd { display: inline-block; padding: 3px 5px; font: 11px ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace; line-height: 10px; color: #24292f; vertical-align: middle; background-color: #f6f8fa; border: solid 1px rgba(175, 184, 193, 0.2); border-bottom-color: rgba(175, 184, 193, 0.2); border-radius: 4px; box-shadow: inset 0 -1px 0 rgba(175, 184, 193, 0.2); }

.markdown-body h1, .markdown-body h2, .markdown-body h3, .markdown-body h4, .markdown-body h5, .markdown-body h6 { margin-top: 2rem; margin-bottom: 0.5rem; font-weight: 600; line-height: 1.25; }

.markdown-body h1 { font-weight: 600; font-size: 1.75em; padding-bottom: 0.3em; border-bottom: 1px solid #d8dee4; }

.markdown-body h2 { font-weight: 600; font-size: 1.5em; padding-bottom: 0.3em; border-bottom: 1px solid #d8dee4; }

.markdown-body h3 { font-weight: 600; font-size: 1.25em; }

.markdown-body h4 { font-weight: 600; font-size: 1em; }

.markdown-body h5 { font-weight: 600; font-size: 0.875em; }

.markdown-body h6 { font-weight: 600; font-size: 0.85em; color: #57606a; }

.markdown-body blockquote { margin: 0; padding: 0 1em; color: #57606a; border-left: 0.25em solid #d0d7de; }

.markdown-body ul, .markdown-body ol { padding-left: 2em; }

.markdown-body ul li, .markdown-body ol li { margin-bottom: 0.5em; }

.markdown-body li ul, .markdown-body li ol { margin-top: 0.5em; }

.markdown-body ol ol, .markdown-body ul ol { list-style-type: lower-roman; }

.markdown-body ol ol, .markdown-body ol ul, .markdown-body ul ol, .markdown-body ul ul { margin-bottom: 0; }

.markdown-body ul ul ol, .markdown-body ul ol ol, .markdown-body ol ul ol, .markdown-body ol ol ol { list-style-type: lower-alpha; }

.markdown-body dd { margin-left: 0; }

.markdown-body tt, .markdown-body code { font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace; font-size: 12px; }

.markdown-body .octicon { display: inline-block; overflow: visible !important; vertical-align: text-bottom; fill: currentColor; }

.markdown-body ::placeholder { color: #6e7781; opacity: 1; }

.markdown-body input::-webkit-outer-spin-button, .markdown-body input::-webkit-inner-spin-button { margin: 0; -webkit-appearance: none; appearance: none; }

.markdown-body .pl-c { color: #6e7781; }

.markdown-body .pl-c1, .markdown-body .pl-s .pl-v { color: #0550ae; }

.markdown-body .pl-e, .markdown-body .pl-en { color: #8250df; }

.markdown-body .pl-smi, .markdown-body .pl-s .pl-s1 { color: #24292f; }

.markdown-body .pl-ent { color: #116329; }

.markdown-body .pl-k { color: #cf222e; }

.markdown-body .pl-s, .markdown-body .pl-pds, .markdown-body .pl-s .pl-pse .pl-s1, .markdown-body .pl-sr, .markdown-body .pl-sr .pl-cce, .markdown-body .pl-sr .pl-sre, .markdown-body .pl-sr .pl-sra { color: #0a3069; }

.markdown-body .pl-v, .markdown-body .pl-smw { color: #953800; }

.markdown-body .pl-bu { color: #82071e; }

.markdown-body .pl-ii { color: #f6f8fa; background-color: #82071e; }

.markdown-body .pl-c2 { color: #f6f8fa; background-color: #cf222e; }

.markdown-body .pl-sr .pl-cce { font-weight: bold; color: #116329; }

.markdown-body .pl-ml { color: #3b2300; }

.markdown-body .pl-mh, .markdown-body .pl-mh .pl-en, .markdown-body .pl-ms { font-weight: bold; color: #0550ae; }

.markdown-body .pl-mi { font-style: italic; color: #24292f; }

.markdown-body .pl-mb { font-weight: bold; color: #24292f; }

.markdown-body .pl-md { color: #82071e; background-color: #ffebe9; }

.markdown-body .pl-mi1 { color: #116329; background-color: #dafbe1; }

.markdown-body .pl-mc { color: #953800; background-color: #ffd8b5; }

.markdown-body .pl-mi2 { color: #eaeef2; background-color: #0550ae; }

.markdown-body .pl-mdr { font-weight: bold; color: #8250df; }

.markdown-body .pl-ba { color: #57606a; }

.markdown-body .pl-sg { color: #8c959f; }

.markdown-body .pl-corl { text-decoration: underline; color: #0a3069; }

.markdown-body [data-catalyst] { display: block; }

.markdown-body g-emoji { font-family: 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-size: 1em; font-style: normal !important; font-weight: 400; line-height: 1; vertical-align: -0.075em; }

.markdown-body g-emoji img { width: 1em; height: 1em; }

.markdown-body::before { display: table; content: ''; }

.markdown-body::after { display: table; clear: both; content: ''; }

.markdown-body > *:first-child { margin-top: 0 !important; }

.markdown-body > *:last-child { margin-bottom: 0 !important; }

.markdown-body a:not([href]) { color: inherit; text-decoration: none; }

.markdown-body .absent { color: #cf222e; }

.markdown-body .anchor { float: left; padding-right: 4px; margin-left: -20px; line-height: 1; }

.markdown-body .anchor:focus { outline: none; }

.markdown-body p, .markdown-body blockquote, .markdown-body ul, .markdown-body ol, .markdown-body dl, .markdown-body table, .markdown-body pre, .markdown-body details { margin-top: 0; margin-bottom: 1rem; }

.markdown-body blockquote > :first-child { margin-top: 0; }

.markdown-body blockquote > :last-child { margin-bottom: 0; }

.markdown-body sup > a::before { content: '['; }

.markdown-body sup > a::after { content: ']'; }

.markdown-body h1 .octicon-link, .markdown-body h2 .octicon-link, .markdown-body h3 .octicon-link, .markdown-body h4 .octicon-link, .markdown-body h5 .octicon-link, .markdown-body h6 .octicon-link { color: #24292f; vertical-align: middle; visibility: hidden; }

.markdown-body h1:hover .anchor, .markdown-body h2:hover .anchor, .markdown-body h3:hover .anchor, .markdown-body h4:hover .anchor, .markdown-body h5:hover .anchor, .markdown-body h6:hover .anchor { text-decoration: none; }

.markdown-body h1:hover .anchor .octicon-link, .markdown-body h2:hover .anchor .octicon-link, .markdown-body h3:hover .anchor .octicon-link, .markdown-body h4:hover .anchor .octicon-link, .markdown-body h5:hover .anchor .octicon-link, .markdown-body h6:hover .anchor .octicon-link { visibility: visible; }

.markdown-body h1 tt, .markdown-body h1 code, .markdown-body h2 tt, .markdown-body h2 code, .markdown-body h3 tt, .markdown-body h3 code, .markdown-body h4 tt, .markdown-body h4 code, .markdown-body h5 tt, .markdown-body h5 code, .markdown-body h6 tt, .markdown-body h6 code { padding: 0 0.2em; font-size: inherit; }

.markdown-body ul.no-list, .markdown-body ol.no-list { padding: 0; list-style-type: none; }

.markdown-body ol[type='1'] { list-style-type: decimal; }

.markdown-body ol[type='a'] { list-style-type: lower-alpha; }

.markdown-body ol[type='i'] { list-style-type: lower-roman; }

.markdown-body div > ol:not([type]) { list-style-type: decimal; }

.markdown-body li > p { margin-top: 16px; }

.markdown-body dl { padding: 0; }

.markdown-body dl dt { padding: 0; margin-top: 16px; font-size: 1em; font-style: italic; font-weight: 600; }

.markdown-body dl dd { padding: 0 16px; margin-bottom: 16px; }

.markdown-body table th { font-weight: 600; }

.markdown-body table th, .markdown-body table td { padding: 6px 13px; border: 1px solid #d0d7de; }

.markdown-body table tr { background-color: #ffffff; border-top: 1px solid #d8dee4; }

.markdown-body table tr:nth-child(2n) { background-color: #f6f8fa; }

.markdown-body table img { background-color: transparent; }

.markdown-body img[align='right'] { padding-left: 20px; }

.markdown-body img[align='left'] { padding-right: 20px; }

.markdown-body .emoji { max-width: none; vertical-align: text-top; background-color: transparent; }

.markdown-body span.frame { display: block; overflow: hidden; }

.markdown-body span.frame > span { display: block; float: left; width: auto; padding: 7px; margin: 13px 0 0; overflow: hidden; border: 1px solid #d0d7de; }

.markdown-body span.frame span img { display: block; float: left; }

.markdown-body span.frame span span { display: block; padding: 5px 0 0; clear: both; color: #24292f; }

.markdown-body .align-center { display: block; text-align: center; margin-left: auto; margin-right: auto; }

.markdown-body .align-left { display: block; float: left; text-align: left; margin-left: auto; margin-right: 1em; }

.markdown-body .align-right { display: block; float: right; text-align: right; margin-right: auto; margin-left: 1em; }

.markdown-body span.align-center { display: block; overflow: hidden; clear: both; }

.markdown-body span.align-center > span { display: block; margin: 13px auto 0; overflow: hidden; text-align: center; }

.markdown-body span.align-center span img { margin: 0 auto; text-align: center; }

.markdown-body span.align-right { display: block; overflow: hidden; clear: both; }

.markdown-body span.align-right > span { display: block; margin: 13px 0 0; overflow: hidden; text-align: right; }

.markdown-body span.align-right span img { margin: 0; text-align: right; }

.markdown-body span.float-left { display: block; float: left; margin-right: 13px; overflow: hidden; }

.markdown-body span.float-left span { margin: 13px 0 0; }

.markdown-body span.float-right { display: block; float: right; margin-left: 13px; overflow: hidden; }

.markdown-body span.float-right > span { display: block; margin: 13px auto 0; overflow: hidden; text-align: right; }

.markdown-body code, .markdown-body tt { padding: 0.2em 0.4em; margin: 0; font-size: 85%; border-radius: 4px; color: #c7254e; background-color: #f9f2f4; }

.markdown-body code br, .markdown-body tt br { display: none; }

.markdown-body del code { text-decoration: inherit; }

.markdown-body pre code { font-size: 100%; }

.markdown-body pre > code { padding: 0; margin: 0; word-break: normal; white-space: pre; background: transparent; border: 0; }

.markdown-body pre { overflow: auto; }

.markdown-body pre code, .markdown-body pre tt { display: inline; padding: 0; margin: 0; overflow: visible; line-height: inherit; word-wrap: normal; background-color: transparent; border: 0; }

.markdown-body .csv-data td, .markdown-body .csv-data th { padding: 5px; overflow: hidden; font-size: 12px; line-height: 1; text-align: left; white-space: nowrap; }

.markdown-body .csv-data .blob-num { padding: 10px 8px 9px; text-align: right; background: #ffffff; border: 0; }

.markdown-body .csv-data tr { border-top: 0; }

.markdown-body .csv-data th { font-weight: 600; background: #f6f8fa; border-top: 0; }

.markdown-body .footnotes { font-size: 12px; color: #57606a; border-top: 1px solid #d0d7de; }

.markdown-body .footnotes ol { padding-left: 16px; }

.markdown-body .footnotes li { position: relative; }

.markdown-body .footnotes li:target::before { position: absolute; top: -8px; right: -8px; bottom: -8px; left: -24px; pointer-events: none; content: ''; border: 2px solid #0969da; border-radius: 4px; }

.markdown-body .footnotes li:target { color: #24292f; }

.markdown-body .footnotes .data-footnote-backref g-emoji { font-family: monospace; }

.markdown-body .task-list { padding: 0; }

.markdown-body .task-list .task-list { margin-left: 1em; }

.markdown-body .task-list-item { list-style-type: none; }

.markdown-body .task-list-item label { font-weight: 400; }

.markdown-body .task-list-item.enabled label { cursor: pointer; }

.markdown-body .task-list-item + .task-list-item { margin-top: 3px; }

.markdown-body .task-list-item .handle { display: none; }

.markdown-body .task-list-item .task-list-item-checkbox { margin-right: 0.5em; }

.markdown-body .task-list-item-checkbox { margin: 0 0.2em 0.25em -1.6em; vertical-align: middle; }

.markdown-body .contains-task-list:dir(rtl) .task-list-item-checkbox { margin: 0 -1.6em 0.25em 0.2em; }

.markdown-body ::-webkit-calendar-picker-indicator { filter: invert(50%); }

.markdown-body input[type='checkbox'] { transform: scale(1.2); }

.markdown-body > p > img { display: block; margin: 0 auto; }

/* ========================================================================== Forms ========================================================================== */
.markdown-body { /* Disabled state ========================================================================== */ /* Focus & active state ========================================================================== */ /* Help text ========================================================================== */ /* .form-group ========================================================================== */ /* .form-inline ========================================================================== */ /* .form-search ========================================================================== */ /* .form--loading ========================================================================== */ }

.markdown-body form { margin: 0 0 5px 0; padding: 1em; background-color: #f2f3f3; border-radius: 4px; box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1); }

.markdown-body form fieldset { margin-bottom: 5px; padding: 0; border-width: 0; }

.markdown-body form legend { display: block; width: 100%; margin-bottom: 10px; *margin-left: -7px; padding: 0; color: #24292f; border: 0; white-space: normal; }

.markdown-body form p { margin-bottom: 2.5px; }

.markdown-body form ul { list-style-type: none; margin: 0 0 5px 0; padding: 0; }

.markdown-body form br { display: none; }

.markdown-body label, .markdown-body input, .markdown-body button, .markdown-body select, .markdown-body textarea { vertical-align: baseline; *vertical-align: middle; }

.markdown-body input, .markdown-body button, .markdown-body select, .markdown-body textarea { box-sizing: border-box; }

.markdown-body label { display: block; margin-bottom: 0.25em; color: #24292f; cursor: pointer; }

.markdown-body label small { font-size: 0.85em; }

.markdown-body label input, .markdown-body label textarea, .markdown-body label select { display: block; }

.markdown-body input, .markdown-body textarea, .markdown-body select { display: inline-block; width: 100%; padding: 0.25em; margin-bottom: 0.5em; color: #24292f; background-color: #fff; border: #d0d7de; border-radius: 4px; box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05); }

.markdown-body .input-mini { width: 60px; }

.markdown-body .input-small { width: 90px; }

.markdown-body input[type='image'], .markdown-body input[type='checkbox'], .markdown-body input[type='radio'] { width: auto; height: auto; padding: 0; margin: 3px 0; *margin-top: 0; line-height: normal; cursor: pointer; border-radius: 0; border: 0 \9; box-shadow: none; }

.markdown-body input[type='checkbox'], .markdown-body input[type='radio'] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }

.markdown-body input[type='image'] { border: 0; }

.markdown-body input[type='file'] { width: auto; padding: initial; line-height: initial; border: initial; background-color: transparent; background-color: initial; box-shadow: none; }

.markdown-body input[type='button'], .markdown-body input[type='reset'], .markdown-body input[type='submit'] { width: auto; height: auto; cursor: pointer; *overflow: visible; }

.markdown-body select, .markdown-body input[type='file'] { *margin-top: 4px; }

.markdown-body select { width: auto; background-color: #fff; }

.markdown-body select[multiple], .markdown-body select[size] { height: auto; }

.markdown-body textarea { resize: vertical; height: auto; overflow: auto; vertical-align: top; }

.markdown-body input[type='hidden'] { display: none; }

.markdown-body .form { position: relative; }

.markdown-body .radio, .markdown-body .checkbox { padding-left: 18px; font-weight: normal; }

.markdown-body .radio input[type='radio'], .markdown-body .checkbox input[type='checkbox'] { float: left; margin-left: -18px; }

.markdown-body .radio.inline, .markdown-body .checkbox.inline { display: inline-block; padding-top: 5px; margin-bottom: 0; vertical-align: middle; }

.markdown-body .radio.inline + .radio.inline, .markdown-body .checkbox.inline + .checkbox.inline { margin-left: 10px; }

.markdown-body input[disabled], .markdown-body select[disabled], .markdown-body textarea[disabled], .markdown-body input[readonly], .markdown-body select[readonly], .markdown-body textarea[readonly] { opacity: 0.5; cursor: not-allowed; }

.markdown-body input:focus, .markdown-body textarea:focus { outline: 0; outline: thin dotted \9; box-shadow: inset 0 1px 3px rgba(36, 41, 47, 0.06), 0 0 5px rgba(9, 105, 218, 0.7); }

.markdown-body input[type='file']:focus, .markdown-body input[type='radio']:focus, .markdown-body input[type='checkbox']:focus, .markdown-body select:focus { box-shadow: none; }

.markdown-body .help-block, .markdown-body .help-inline { color: #57606a; }

.markdown-body .help-block { display: block; margin-bottom: 1em; line-height: 1em; }

.markdown-body .help-inline { display: inline-block; vertical-align: middle; padding-left: 5px; }

.markdown-body .form-group { margin-bottom: 5px; padding: 0; border-width: 0; }

.markdown-body .form-inline input, .markdown-body .form-inline textarea, .markdown-body .form-inline select { display: inline-block; margin-bottom: 0; }

.markdown-body .form-inline label { display: inline-block; }

.markdown-body .form-inline .radio, .markdown-body .form-inline .checkbox, .markdown-body .form-inline .radio { padding-left: 0; margin-bottom: 0; vertical-align: middle; }

.markdown-body .form-inline .radio input[type='radio'], .markdown-body .form-inline .checkbox input[type='checkbox'] { float: left; margin-left: 0; margin-right: 3px; }

.markdown-body .form-search input, .markdown-body .form-search textarea, .markdown-body .form-search select { display: inline-block; margin-bottom: 0; }

.markdown-body .form-search .search-query { padding-left: 14px; padding-right: 14px; margin-bottom: 0; border-radius: 14px; }

.markdown-body .form-search label { display: inline-block; }

.markdown-body .form-search .radio, .markdown-body .form-search .checkbox, .markdown-body .form-inline .radio { padding-left: 0; margin-bottom: 0; vertical-align: middle; }

.markdown-body .form-search .radio input[type='radio'], .markdown-body .form-search .checkbox input[type='checkbox'] { float: left; margin-left: 0; margin-right: 3px; }

.markdown-body .form--loading:before { content: ''; }

.markdown-body .form--loading .form__spinner { display: block; }

.markdown-body .form:before { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(255, 255, 255, 0.7); z-index: 10; }

.markdown-body .form__spinner { display: none; position: absolute; top: 50%; left: 50%; z-index: 11; }

.markdown-body { /* ========================================================================== BUTTONS ========================================================================== */ /* Default button ========================================================================== */ }

.markdown-body .btn { /* default */ display: inline-block; margin-bottom: 0.25em; padding: 0.5em 1em; font-size: 0.85em; font-weight: bold; text-align: center; text-decoration: none; border-width: 0; border-radius: 4px; cursor: pointer; transition: background-color 0.2s; /* button colors */ /* fills width of parent container */ /* disabled */ /* extra large button */ /* large button */ /* small button */ }

.markdown-body .btn:hover { text-decoration: none; }

.markdown-body .btn .icon { margin-right: 0.5em; }

.markdown-body .btn .icon + .hidden { margin-left: -0.5em; /* override for hidden text*/ }

.markdown-body .btn--primary { background-color: #6f777d; color: #fff; }

.markdown-body .btn--primary:visited { background-color: #6f777d; color: #fff; }

.markdown-body .btn--primary:hover { background-color: #595f64; color: #fff; }

.markdown-body .btn--inverse { background-color: #fff; color: #3d4144; border: 1px solid #d0d7de; }

.markdown-body .btn--inverse:visited { background-color: #fff; color: #3d4144; }

.markdown-body .btn--inverse:hover { background-color: #cccccc; color: #3d4144; }

.markdown-body .btn--light-outline { background-color: transparent; color: #fff; border: 1px solid #fff; }

.markdown-body .btn--light-outline:visited { background-color: transparent; color: #fff; }

.markdown-body .btn--light-outline:hover { background-color: rgba(0, 0, 0, 0.2); color: #fff; }

.markdown-body .btn--success { background-color: #3fa63f; color: #fff; }

.markdown-body .btn--success:visited { background-color: #3fa63f; color: #fff; }

.markdown-body .btn--success:hover { background-color: #328532; color: #fff; }

.markdown-body .btn--warning { background-color: #d67f05; color: #fff; }

.markdown-body .btn--warning:visited { background-color: #d67f05; color: #fff; }

.markdown-body .btn--warning:hover { background-color: #ab6604; color: #fff; }

.markdown-body .btn--danger { background-color: #ee5f5b; color: #fff; }

.markdown-body .btn--danger:visited { background-color: #ee5f5b; color: #fff; }

.markdown-body .btn--danger:hover { background-color: #be4c49; color: #fff; }

.markdown-body .btn--info { background-color: #3b9cba; color: #fff; }

.markdown-body .btn--info:visited { background-color: #3b9cba; color: #fff; }

.markdown-body .btn--info:hover { background-color: #2f7d95; color: #fff; }

.markdown-body .btn--facebook { background-color: #3b5998; color: #fff; }

.markdown-body .btn--facebook:visited { background-color: #3b5998; color: #fff; }

.markdown-body .btn--facebook:hover { background-color: #2f477a; color: #fff; }

.markdown-body .btn--twitter { background-color: #55acee; color: #fff; }

.markdown-body .btn--twitter:visited { background-color: #55acee; color: #fff; }

.markdown-body .btn--twitter:hover { background-color: #448abe; color: #fff; }

.markdown-body .btn--linkedin { background-color: #007bb6; color: #fff; }

.markdown-body .btn--linkedin:visited { background-color: #007bb6; color: #fff; }

.markdown-body .btn--linkedin:hover { background-color: #006292; color: #fff; }

.markdown-body .btn--block { display: block; width: 100%; }

.markdown-body .btn--block + .btn--block { margin-top: 0.25em; }

.markdown-body .btn--disabled { pointer-events: none; cursor: not-allowed; filter: alpha(opacity=65); box-shadow: none; opacity: 0.65; }

.markdown-body .btn--x-large { font-size: 1.25em; }

.markdown-body .btn--large { font-size: 1em; }

.markdown-body .btn--small { font-size: 0.75em; }

.profile { display: flex; flex-direction: column; margin-bottom: 36px; }

@media screen and (max-width: 1020px) { .profile { flex-direction: row; align-items: center; margin-bottom: 16px; } }

.profile__avatar { width: 120px; height: 120px; margin: 0 0 12px 0; flex-shrink: 0; }

@media screen and (max-width: 1020px) { .profile__avatar { margin: 0 16px 0 0; } }

@media screen and (max-width: 468px) { .profile__avatar { width: 98px; height: 98px; } }

.profile__avatar img { width: 100%; height: 100%; border-radius: 100%; object-fit: cover; }

.profile__name { font-size: 0.9rem; font-weight: 600; color: #3d4144; }

.profile__description { font-size: 0.8rem; font-weight: 400; color: #6e7173; margin: 8px 0; }

.profile__socials { list-style: none; display: flex; color: #6e7173; }

.profile__socials li { margin-right: 8px; transition: 0.2s; }

.profile__socials li:hover { filter: brightness(0); }

.profile__socials li a { text-decoration: none; color: inherit; }

.profile__socials li a i { font-size: 1.4rem; }

@media screen and (max-width: 1020px) { .tagnav { padding: 12px; } }

.tagnav__title { display: flex; font-weight: 600; align-items: flex-end; color: #3d4144; margin-bottom: 8px; }

.tagnav__title i { font-size: 1.4rem; margin-right: 4px; }

.tagnav__title span { font-size: 1rem; }

.tagnav__wrapper { display: flex; flex-wrap: wrap; }

.tagnav__item { font-size: 0.68rem; color: #3d4144; background: #fff; padding: 8px 20px; margin-bottom: 8px; margin-right: 4px; text-decoration: none; border-radius: 8px; white-space: nowrap; box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1); transition: box-shadow 0.2s, transform 0.2s; }

.tagnav__item:hover { box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1); transform: translateY(-1px); }

.postlist .post { width: 100%; margin-bottom: 16px; border-radius: 10px; overflow: hidden; background-color: #fff; box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1); transition: box-shadow 0.2s, transform 0.2s; }

.postlist .post:hover { transform: translateY(-2px); box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1); }

.postlist .post-cover { width: 100%; }

.postlist .post-cover img { width: 100%; height: 160px; object-fit: cover; }

.postlist .post-details { width: 100%; padding: 18px 24px 24px 24px; }

.postlist .post-tags { display: flex; list-style: none; margin-bottom: 12px; flex-wrap: wrap; }

.postlist .post-tag { font-size: 0.68rem; font-weight: 400; padding: 6px 12px; border-radius: 6px; color: #fff; background-color: #2c3e50; box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1); margin-right: 8px; margin-bottom: 6px; }

.postlist .post-title { font-size: 1.2rem; font-weight: 600; color: #000; margin-bottom: 12px; }

.postlist .post-description { font-size: 0.9rem; font-weight: 400; color: #3d4144; margin-bottom: 14px; }

.postlist .post-time { color: #bababa; font-weight: 400; font-size: 0.8rem; display: flex; align-items: center; }

.postlist .post-time i { font-size: 1.02rem; margin-right: 8px; }

.pager { width: 100%; display: flex; background-color: #fff; box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1); border-radius: 10px; overflow: hidden; list-style: none; margin-top: 36px; }

.pager__item { flex: 1 1 0; max-width: 20%; color: #3d4144; text-align: center; transition: background-color 0.2s; }

.pager__item:not(.disabled):hover { background-color: #eaeaea; }

.pager__item.selected { color: #000; background-color: #eaeaea; }

.pager__item.disabled { cursor: default; }

.pager__link { display: block; width: 100%; height: 100%; color: inherit; padding: 16px 0px; }

.footer { margin-top: 48px; }

.footer a { color: inherit; }

.footer .copyright { font-size: 0.72rem; font-weight: 600; color: #3d4144; margin-bottom: 5px; }

.footer .powerby { font-size: 0.62rem; font-weight: 400; color: #6e7173; }

.comments-container { background-color: #fff; border-radius: 10px; box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1); padding: 16px 24px; }

@media screen and (max-width: 468px) { .comments-container { padding: 16px; } }

.main-container { display: flex; flex-direction: row; max-width: 1180px; margin: 0 auto; }

@media screen and (max-width: 1020px) { .main-container { flex-direction: column; } }

.main-container__aside { width: 280px; flex-shrink: 0; flex-grow: 0; word-break: break-all; margin: 0 48px 0 0; }

@media screen and (max-width: 1020px) { .main-container__aside { width: 100%; margin: 0 0 16px 0; } }

.main-container .content { width: 0; flex-grow: 1; }

@media screen and (max-width: 1020px) { .main-container .content { width: 100%; } }

.section-title { display: flex; align-items: flex-end; font-size: 1.2rem; font-weight: 600; color: #3d4144; margin-bottom: 16px; }

@media screen and (max-width: 1020px) { .main-container.post .tagnav { display: none; } }

.post-container { background-color: #fff; border-radius: 10px; box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1); overflow: hidden; width: 100%; margin-bottom: 16px; }

.post-container .post-cover { width: 100%; }

.post-container .post-cover img { width: 100%; max-height: 28vh; object-fit: cover; }

.post-container .post-summary { padding: 24px 32px; }

@media screen and (max-width: 468px) { .post-container .post-summary { padding: 24px; } }

.post-container .post-summary .post-tags { display: flex; flex-wrap: wrap; list-style: none; margin-bottom: 12px; }

.post-container .post-summary .post-tags .post-tag { font-size: 0.68rem; font-weight: 400; padding: 6px 12px; border-radius: 6px; color: #fff; background-color: #2c3e50; box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1); margin-right: 8px; margin-bottom: 6px; }

.post-container .post-summary .post-title { color: #000; font-size: 1.32rem; font-weight: 600; margin-bottom: 8px; }

.post-container .post-summary .post-description { color: #3d4144; font-size: 0.92rem; font-weight: 400; margin-bottom: 8px; }

.post-container .post-summary .post-time { color: #bababa; font-weight: 400; font-size: 0.8rem; display: flex; align-items: center; }

.post-container .post-summary .post-time i { font-size: 1.02rem; margin-right: 8px; }

.post-container .post-content { padding: 24px; color: #3d4144; }

@media screen and (max-width: 468px) { .post-container .post-content { padding: 24px 16px; } }

* { box-sizing: border-box; padding: 0; margin: 0; }

a { text-decoration: none; }

html { font-size: 20px; }

@media screen and (max-width: 768px) { html { font-size: 18px; } }

body { font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif; min-width: 360px; background-color: #f5f5fa; }

.main-container { padding: 32px; }

@media screen and (max-width: 768px) { .main-container { padding: 24px; } }

@media screen and (max-width: 468px) { .main-container { padding: 16px; } }

/*# sourceMappingURL=styles.css.map */