.footer {
  margin-top: 48px;

  a {
    color: inherit;
  }

  .copyright {
    font-size: 0.72rem;
    font-weight: 600;
    color: $color-body-accent-text;
    margin-bottom: 5px;
  }

  .powerby {
    font-size: 0.62rem;
    font-weight: 400;
    color: $color-body-text;
  }
}
