.tagnav {
  @media screen and (max-width: $desktop-breakpoint) {
    padding: 12px;
  }

  &__title {
    display: flex;
    font-weight: 600;
    align-items: flex-end;
    color: $color-body-accent-text;
    margin-bottom: 8px;

    i {
      font-size: 1.4rem;
      margin-right: 4px;
    }

    span {
      font-size: 1rem;
    }
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    font-size: 0.68rem;
    color: $color-body-tag-text;
    background: $color-body-tag-background;
    padding: 8px 20px;
    margin-bottom: 8px;
    margin-right: 4px;
    text-decoration: none;
    border-radius: 8px;
    white-space: nowrap;
    box-shadow: $shadow;
    transition: box-shadow 0.2s, transform 0.2s;

    &:hover {
      box-shadow: $shadow-lg;
      transform: translateY(-1px);
    }
  }
}
