{% if page.layout == 'home' %}
  {% assign section_title = "All posts" %}
{% elsif page.autopages %}
  {% assign section_title = page.autopages.display_name %}
{% endif %}

<!DOCTYPE html>
<html {% if site.locale %}lang="{{ site.locale }}"{% endif %}>
  {% include head.html %}
  
  <body>
    <div class="main-container{% if page.layout == 'post' %} post{% endif %}">
      <aside class="main-container__aside">
        {% include profile.html %}
        {% include tagnav.html %}
      </aside>
      <div class="content">
        {% if section_title %}
          <h3 class="section-title">{{section_title}}</h3>
        {% endif %}
        <main>{{ content }}</main>
        {% include pager.html %}
        {% include footer.html %}
      </div>
    </div>
  
    {% include analytics.html %}

  </body>
</html>